.chart{
    margin-left: 100px;
}
.toppad{
    padding-top: 80px;
}
/****************/
/*    SLIDER    */
/****************/
.slider-track-low , .slider-track-high{
    background-color: #cccccc;
}

.slider-selection{
    background-image: none;
    background-color: #457B9D;
}
.slide-object{
    padding-left: 20px;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #A8DADC 0, #A8DADC 100%);
    background-image: -o-linear-gradient(top, #A8DADC 0, #A8DADC 100%);
    background-image: linear-gradient(to bottom, #A8DADC 0, #A8DADC 100%);
}


/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
    fill: #1D3557;
}

.line {
    fill: none;
    stroke: #E63946;
    stroke-width: 1.5px;
}

.tooltip-circle {
    fill: #80cdc1;
    cursor: pointer;
}

.domain {
    stroke-opacity: 0.0;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}