/* HOOFDKLEUR
#8c510a
#bf812d
#dfc27d
#f6e8c3
#f5f5f5
#c7eae5
#80cdc1
#35978f
#01665e
*/

.btn-inbox:focus,.btn-inbox:active,.btn-inbox:visited {
    color: white;
}
.logo{
    margin-top: -27px;
    margin-left: -10px;
    height: 75px;
}
a {
    color: #01665e;
    text-decoration: none;
}
a:hover {
    color: #E63946;
    text-decoration: none;
}

.white{
    background-color: white;
}
.title{
    font-size: 25px;
}

.info{
    float: right;
}

.infoLeft{
    float: left;
}
.barBadge{
    margin-top: -3px;
    background-color: #8c510a;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: white;
}

input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: #01665e;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked:after, .radio input[type="radio"]:checked:after, .radio-inline input[type="radio"]:checked:after {
    border-color: #01665e;
}

input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #01665e;
    border-color: #01665e;
}

.navbar-default .navbar-nav > li > a {
    color: lightgrey;
}

.navbar {
    background-color: #01665e;
    heigth: 10px;
}


body {
    background-color: #E9EAED;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 60px;
}

.quote, .source {
    font-family: 'Indie Flower', cursive;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    display: block;
    color: lightgrey;

}

.source {
    font-family: 'PT Sans', sans-serif;
    margin-top: -20px;
    text-align: right;
    font-size: 15px;
    padding-right: 80px;
}

.footer {
    background-color: #01665e;
    text-align: center;
}

.header {
    font-size: 35px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.btn-inbox{
    background-color: #E63946;
    color: white;
}
.dropdown{
    padding-right: 50px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-right: 50px;
}
.addbutton {
    display: block;
    width: 100%;
}

.addbutton > .text {
    padding-left: 10px;
}

.padleft {
    padding-left: 20%;
}

.subcategory {
    padding: 10px;
    color: #666666;
}

a:hover {
    text-decoration: none !important;
}

.subcategory:hover {
    background-color: #E0E0E0;
}

.category {
    padding: 0px;
}

.small {
    margin: 0px !important;
}

#wishcontaier {
    padding-top: 30px;
}

.form-control::-webkit-input-placeholder { color: #35978f; }
.form-control:-moz-placeholder { color: #35978f; }
.form-control::-moz-placeholder { color: #35978f; }
.form-control:-ms-input-placeholder { color: #35978f; }

.adminMessage{
    background-color: #dfc27d;
}
.message{
    min-height: 300px;
}
.noPadding
{
    display: inline;
}