/*@import url("StyleMax.css");*/

.navbar {
    z-index: 100;
}

.background {
    position: absolute;
    z-index: 0;
}

.smaller {
    height: 88px;
    width: auto;
}

.fullwidth {
    width: 100%;
}

.width {

    width: 100%;
    height: 400px;
    margin-top: -150px;
}

h3 .h3 {
    color: brown;
}

.h4 {
    color: white;
}

.btn-default {
    background-color: brown;
    color: whitesmoke;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: brown;
}

.register {
    height: 120px;
    width: 120px;
}

.answer-container label {
    margin: 0 !important;
}

.btn-dashboard {
    float: right;
    margin: 10px 10px 5px 5px;
}

.collapse-comment {
    margin-left: 15px;
}

.padd {
    padding-bottom: 40px;
    padding-top: 40px;
}

.btn-text {
    margin: 5px;
    text-align: center;
}

.dashboard-row {
    margin-bottom: 50px;
    color: black;
}

.dashboard-header {
    margin-top: 0;
    color: #532929;
}

.large-caption {
    min-height: 150px;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: whitesmoke;
}

.buttongroup {
    margin-bottom: 10px;
}

.buttongrid {
    border-top: 1px solid gray;
}

.btn-inbox:focus, .btn-inbox:active, .btn-inbox:visited {
    color: white;
}

.btn-register {
    color: brown;
    background-color: white;
}

.btn-register:focus, .btn-register:active, .btn-register:hover {
    color: white;
    background-color: brown;
}

.logo {
    margin-top: -27px;
    margin-left: -10px;
    height: 75px;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: #E63946;
    text-decoration: none;
}

.white {
    background-color: white;
    padding-bottom: 40px;
}

.brown {
    background-color: brown;

}

.title {
    font-size: 25px;
}

.info-row {
    margin-bottom: 10px;
}

.info-text {
    margin-left: 5px;
    font-family: inherit;
}

.info {
    float: right;
}

.titanic {
    float: none;
}

.small-dropdown-menu {
    left: -25px;
}

/*.small-dropdown-menu {*/
/*!*margin-right: 1px;*!*/
/*left: -175px;*/
/*!*max-width: none;*!*/
/*!*min-width: 285px;*!*/
/*}*/

/*!*.small-dropdown-menu li {*!*/
/*!*display: inline;*!*/
/*!*margin-right: 10px;*!*/
/*!*margin-bottom: 10px;*!*/
/*!*}*!*/

/*.small-dropdown-menu li > a {*/
/*padding: 10px;*/
/*display: inline;*/
/*}*/

/*.small-dropdown-menu li > * {*/
/*display: inline;*/
/*}*/

/*.small-dropdown-menu li:last-child {*/
/*margin-right: 0;*/
/*}*/

.infoLeft {
    float: left;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-collapse {
    padding-bottom: 3px;
    padding-top: 3px;
}

input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: brown;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked:after, .radio input[type="radio"]:checked:after, .radio-inline input[type="radio"]:checked:after {
    border-color: brown;
}

input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: brown;
    border-color: brown;
}

.navbar-default .navbar-nav > li > a {
    color: floralwhite;
}

.navbar {
    background-color: brown;
    heigth: 10px;
}

body {
    background-color: rgba(240, 240, 240, 0.44);
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 60px;
}

.container-fluid {
    border-bottom: 15px solid #BF5F5F;
}

.quote, .source {
    font-family: 'Indie Flower', cursive;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    display: block;
    color: floralwhite;

}

.btn-primary {
    background-color: #5bc0de;
}

.source {
    font-family: 'PT Sans', sans-serif;
    margin-top: -20px;
    text-align: right;
    font-size: 15px;
    padding-right: 80px;
}

.footer {
    background-color: brown;
    text-align: center;
    padding: 5px;
}

.danger {
    color: darkred;
}

.col-centered {
    float: none;
    margin: 0 auto;
    max-width: 88px;
}

.errorcenter {
    display: inherit;
    text-align: center;
}

.header {
    font-size: 35px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-inbox {
    background-color: #AD8282;
    color: white;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.form-success {
    background-color: #70C170 !important;
    border: #9AB99A 1px solid !important;
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.addbutton {
    display: block;
    width: 100%;
}

.addbutton > .text {
    padding-left: 10px;
}

.padleft {
    padding-left: 20%;
}

.smallpadleft {
    padding-left: 40px;
}

.subcategory {
    padding: 10px;
    color: #666666;
}

a:hover {
    text-decoration: none !important;
}

.subcategory:hover {
    background-color: #E0E0E0;
}

.category {
    padding: 0px;
}

.small {
    margin: 0px !important;
}

.form-control::-webkit-input-placeholder {
    color: brown;
}

.form-control:-moz-placeholder {
    color: brown;
}

.form-control::-moz-placeholder {
    color: brown;
}

.form-control:-ms-input-placeholder {
    color: brown;
}

.wishContent textarea {
    overflow-y: scroll;
    height: 150px;
}

.summit-container {
    min-height: 200px;
}

.form-control::-webkit-input-placeholder {
    color: #1D91C0;
}

.form-control:-moz-placeholder {
    color: #1D91C0;
}

.form-control::-moz-placeholder {
    color: #1D91C0;
}

.form-control:-ms-input-placeholder {
    color: #1D91C0;
}

.adminMessage {
    background-color: #E0F3F8;
}

.message {
    min-height: 300px;
}

.noPadding {
    display: inline;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: lightgrey;
    }
}

.homebuttons > a > img {
    max-width: 300px;
    margin: auto;
}

.noMargin {
    margin: 0px;
}

.right {
    text-align: right;
}

body {
    /*overflow: hidden; */
    /* Hoihoi, Dit doen we dus niet globaal hea. Omdat andere objecten inheritten van hun parents, is de kans dat er iets breekt groot. */
    /* Tip voor volgende keer: */
    /* Geef je container een klasse mee, en zet daar die overflow hidden op :) */
    /* - Marius */
}

.noflow {
    overflow: hidden;
    position: relative;
    min-height: 700px;
}

#slide-panel {
    width: 300px;
    height: 100vh;
    padding: 10px;
    background: brown;
    right: -300px;
    float: right;
    max-width: 500px;
    z-index: 1;
    position: absolute;
}

.whiteText {
    color: white;
}

blockquote footer, blockquote small, blockquote .small {
    color: #151313;
}

.graphic {
    width: 70%;
}

#content {
    height: 500px;
    width: 100%;
    float: right;
    padding-right: 5%;
    z-index: -1;
    color: white;
}

.slider.slider-horizontal {
    width: 500px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: floralwhite;
}

.alert-success {
    background-color: #7FCDBB;
}

video {

    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);

    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    -ms-filter: grayscale(10%);
    filter: grayscale(10%);

    background-image: url("/Resources/Images/beach.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-hero {

    background-color: transparent;
    color: white;
    min-height: 65vh;
}

#main-hero h1, #main-hero .h1 {
    color: white;
}

#main-hero h4, #main-hero .h4 {
    color: white;
}

blockquote footer, blockquote small, blockquote .small {
    color: white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: brown;
    border-color: brown;
}

.pagination > li > a, .pagination > li > span {
    color: brown;
}

.pagination > li > a:hover, .pagination > li > span:hover {
    color: brown;
}

.list-arrows {
    padding-top: 50px;
}

.small-margin-bottom {
    margin-bottom: 5px;
}

.content-wrapper {

}

.btn-side {
    min-width: 75px;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.btn-confirm {
    width: 75px;
}

.inner-border {
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.match-controls > span {
    width: 50px;
    height: 50px;
}

.match-controls > .btn {
    max-width: 50px;
    max-height: 50px;
    margin-left: 5px;
    float: right;
}

.match-controls > .btn :last-child {
    margin-left: 0;
}

.panel > :last-child {
    border-bottom: none;
}

.detailBox {
    border: 1px solid #bbb;
}

.commentImage {
    max-height: 200px;
    max-width: 200px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 400px;
    overflow: auto;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li > div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;

}

.sponsorImage {
    max-height: 100px;
    max-width: 100px;
    margin-right: 20px;
}

.backgroundMap {
    fill: white;
}

.world {
    fill: #BF5F5F;
}

.infoButtonMargin {
    margin-left: 20px;
}

