
h3 .h3 {
    color: brown;
}

.h4 {
    color: white;
}

.btn-default {
    background-color: brown;
    color: whitesmoke;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: brown;
}

.btn-dashboard {
    float: right;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: whitesmoke;
}

.buttongroup {
    margin-bottom: 10px;
}

.buttongrid {
    border-top: 1px solid gray;
}

.btn-inbox:focus, .btn-inbox:active, .btn-inbox:visited {
    color: white;
}

.logo {
    margin-top: -27px;
    margin-left: -10px;
    height: 75px;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    color: #E63946;
    text-decoration: none;
}

.white {
    background-color: white;
}

.title {
    font-size: 25px;
}

.info {
    float: right;
}

.infoLeft {
    float: left;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-collapse {
    padding-bottom: 3px;
    padding-top: 3px;
}

input[type="radio"]:before, .radio input[type="radio"]:before, .radio-inline input[type="radio"]:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: brown;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked:after, .radio input[type="radio"]:checked:after, .radio-inline input[type="radio"]:checked:after {
    border-color: brown;
}

input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: brown;
    border-color: brown;
}

.navbar-default .navbar-nav > li > a {
    color: floralwhite;
}

.navbar {
    background-color: brown;
    heigth: 10px;
}

body {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 60px;
}

.container-fluid {
    border-bottom: 15px solid #BF5F5F;
}

.quote, .source {
    font-family: 'Indie Flower', cursive;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    display: block;
    color: floralwhite;

}

.btn-primary {
    background-color: #5bc0de;
}

.source {
    font-family: 'PT Sans', sans-serif;
    margin-top: -20px;
    text-align: right;
    font-size: 15px;
    padding-right: 80px;
}

.footer {
    background-color: brown;
    text-align: center;
    padding: 3px;
}

.header {
    font-size: 35px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.btn-inbox {
    background-color: #AD8282;
    color: white;
}

.margLeft {
    margin-left: 10px;
}

.form-success {
    background-color: #70C170 !important;
    border: #9AB99A 1px solid !important;
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.addbutton {
    display: block;
    width: 100%;
}

.addbutton > .text {
    padding-left: 10px;
}

.padleft {
    padding-left: 20%;
}

.smallpadleft {
    padding-left: 40px;
}

.subcategory {
    padding: 10px;
    color: #666666;
}

a:hover {
    text-decoration: none !important;
}

.subcategory:hover {
    background-color: #E0E0E0;
}

.category {
    padding: 0px;
}

.small {
    margin: 0px !important;
}

#wishcontaier {
    padding-top: 30px;
}

.form-control::-webkit-input-placeholder {
    color: brown;
}

.form-control:-moz-placeholder {
    color: brown;
}

.form-control::-moz-placeholder {
    color: brown;
}

.form-control:-ms-input-placeholder {
    color: brown;
}

.wishContent textarea {
    overflow-y: scroll;
    height: 150px;
}

.summit-container {
    min-height: 200px;
}

.form-control::-webkit-input-placeholder {
    color: #1D91C0;
}

.form-control:-moz-placeholder {
    color: #1D91C0;
}

.form-control::-moz-placeholder {
    color: #1D91C0;
}

.form-control:-ms-input-placeholder {
    color: #1D91C0;
}

.adminMessage {
    background-color: #E0F3F8;
}

.message {
    min-height: 300px;
}

.noPadding {
    display: inline;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: lightgrey;
    }
}

.homebuttons > a > img {
    max-width: 300px;
    margin: auto;
}

.noMargin {
    margin: 0px;
}

.right {
    text-align: right;
}

body {
    /*overflow: hidden; */
    /* Hoihoi, Dit doen we dus niet globaal hea. Omdat andere objecten inheritten van hun parents, is de kans dat er iets breekt groot. */
    /* Tip voor volgende keer: */
    /* Geef je container een klasse mee, en zet daar die overflow hidden op :) */
    /* - Marius */
}

.noflow {
    overflow: hidden;
    position: relative;
    min-height: 700px;
}

#slide-panel {
    width: 300px;
    height: 100vh;
    padding: 10px;
    background: brown;
    right: -300px;
    float: right;
    max-width: 500px;
    z-index: 1;
    position: absolute;
}

.whiteText {
    color: white;
}

blockquote footer, blockquote small, blockquote .small {
    color: #151313;
}

#content {
    height: 500px;
    width: 100%;
    float: right;
    padding-right: 5%;
    z-index: -1;
    color: white;
}

.slider.slider-horizontal {
    width: 500px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: floralwhite;
}

video {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    background-color: black;

    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    -ms-filter: grayscale(10%);
    filter: grayscale(10%);
}

#main-hero {

    background-color: transparent;
    color: white;
    min-height: 65vh;
}

#main-hero h1, #main-hero .h1 {
    color: white;
}

#main-hero h4, #main-hero .h4 {
    color: white;
}

blockquote footer, blockquote small, blockquote .small {
    color: white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: brown;
    border-color: brown;
}